/* #parallax {
    background-image: url(images/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.parallax-text {
    padding: 150px;

} */

html, body {
    height: 100%;
    background-color: #fcf8ec;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidebar {
    margin-top: 160px;
    margin-left: 30px;
    padding: 0;
    width: 200px;
    background-color: #d0e8f2;
    position: fixed;
    height: 300px;
    overflow: auto;
    text-align: center;
}

.sidebar i {
    padding: 10px;
}
  
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #79a3b1;
    color:  #fcf8ec;
    font-weight: bold;
}

.sidebar a:hover:not(.active) {
    background-color: #456268;
    color: #fcf8ec;
}

div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: fit-content;
    background-color: #9fc5d3;
    position: relative;
    right: 20px;
    top: 70px;
    height: 520px;
    width: 1000px; 
    font-weight: bold;
}

div.about {
    position: relative;
    text-align: center;
    bottom: 220px;
    left: 120px;
    color: #fcf8ec;
    font-size: 50px;
}

div.info {
    position: relative;
    text-align: justify;
    font-size: 20px;
    bottom: 210px;
    left: 375px;
    color: #fcf8ec;
    width: 500px;
}

.background-shape {
    height: 520px;
    width: 1000px;   
    background-color:#9fc5d3;
    position: absolute;
    right: 20px;
    top: 70px;
}

.profile {
    position: relative;
    top: 130px;
    left: 60px;
}

img {
    border: 5px solid #456268;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
    .background-shape{
        display: none;
    }
}

    

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
    .background-shape{
        display: none;
    }
}