/* #parallax {
    background-image: url(images/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.parallax-text {
    padding: 150px;

} */

html, body {
    height: 100%;
    background-color: #fcf8ec;
    max-width: 100%;
}

.sidebar {
    margin-top: 100px;
    margin-left: 30px;
    padding: 0;
    width: 200px;
    background-color: #d0e8f2;
    position: fixed;
    height: 300px;
    overflow: auto;
    text-align: center;
}

.sidebar i {
    padding: 10px;
}
  
.navigation a, .social a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.social a {
    display: inline;
}


.sidebar a.active {
    background-color: #79a3b1;
    color:  #fcf8ec;
    font-weight: bold;
}

.sidebar a:hover:not(.active) {
    background-color: #456268;
    color: #fcf8ec;
}

.show {
    display:block;
}

.hide {
    display: none;
}

.container {
    margin-left: 300px;
    margin-top: 80px;
    background-color: #9fc5d3;
    height: fit-content;
    width: 930px; 

}

.about-me {
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    color: #fcf8ec;
    font-weight: bold;
    font-size: 25px;
}

img {
    border: 5px solid #456268;
    width: 100%;
    height: 100%;
}

a {
    color: #fcf8ec;
    text-decoration: none;
    text-align: center;
}


@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
    .background-shape{
        display: none;
    }
    .container{
        display: inline;
        background-color: #fcf8ec;
        float: none;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
    .background-shape{
        display: none;
    }
    .container{
        display: inline;
        background-color: #fcf8ec;
        text-align: center;
    }
    
}